<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
    <script src="/static/js/jQuery-1.6.min.js"></script>
    <title>后花园</title>
    <style>
        div#study {
            background-color: #EEEEEE;
            height: 80%;
            width: 50%;
            float: left;
        }
        div#footer {
            background-color: #EEEEEE;
            /*clear: both;*/
            text-align: center;
            height: 100%;
            width: 100%;
        }
        div#life {
            background-color: #EEEEEE;
            height: 80%;
            width: 50%;
            float: left;
        }
    </style>
</head>
<body background="">
<div id="study">
    <a href="">
        <img style="width: 100%;height: 100%"
             src="static/images/window.jpg"/>
    </a>
</div>
<div id="life">
    <a href="/study/index.vm">
        <img style="width: 100%;height: 60%" src="static/images/readbook.jpg">
    </a>
    <a href="/room/index.vm">
        <img style="width: 50%;height: 40%;float: left"
             src="static/images/room.JPG"/>
    </a>
    <a href="/wall/index.vm">
        <img style="width: 50%;height: 40%;float: right;"
             src="static/images/timewall.JPG"/>
    </a>
</div>
<hr style=""/>
<div id="footer">
    All Rights Reserved By xiliang.zxl 2014.
</div>
</body>
</html>