<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
    <script src="/static/js/jQuery-1.6.min.js"></script>
    <script src="/static/js/article-upload.js"></script>
    <script src="/static/js/parse-script.js"></script>
    <title>发表文章</title>
</head>
<body>
<label>文章标题</label>
<input id="title" type="text" style="width: 200px;"/>
<br/>
<label>文章内容</label>
<textarea id="content" style="width: 100%;height: 60%;background-color: ghostwhite" >

</textarea>
<button id="upload">上传文章</button> <button id="preSee">预览效果</button>
<a href="code.vm" target="_blank">java代码转换</a>
<br/>
<hr/>
<div id="preSeeContainer"></div>
</body>

</html>